

.carousel-img {

}


.row_block_class {
    width: 100vw;
}

.container {
    width: 100vh;
    margin: 0;
    padding: 0;

}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    
}

h1, h2 {
    justify-content: center;
    display: flex;
    text-align: center;
}

.carousel {
    padding-left: 10vh;
    padding-right: 10vh;
}


html {
  scroll-behavior: smooth;
}

.list {
    font-size: 3vh;
    border-width: 2px;
    border-color: black;
}

hr {
    width: 100vw;
}